.env
.env.test
.DS_Store
.vscode
.vscode/
.dynamodb
.dynamodb/
.node_modules
.node_modules/
node_modules
node_modules/
jspm_packages
jspm_packages/
test
test/
tests
tests/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*