.git/

# nodejs
npm-debug.log*
package-lock.json
node_modules/

# env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# vscode
.vscode/

# log
logs
*.log
npm-debug.log*

# temp, cache
.npm
.eslintcache
*.tgz
*.tsbuildinfo

*.cache
cache/

*.tmp
*.temp
temp/

# project
build/
docs/

# test
test/
tests/

coverage/