.env
.env.test
.DS_Store
.vscode
.vscode/
.dynamodb
.dynamodb/
.git
.git/
.node_modules
.node_modules/
node_modules
node_modules/
jspm_packages
jspm_packages/
test
test/
tests
tests/
src
src/
update
update/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
tsconfig.json
package-lock.json
CHANGELOG.md
yarn.lock